.header_frame{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.bg_img{
    height: 70px;
    width: 50%;
}
.logo_title{
    font-size: 70px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 10px 0 0;
}