.index_frame {
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile_fram {
    width: 100%;
    padding-right: 2vw;
    padding-left: 2vw;
    height: 100%;
    overflow-y: scroll;
        -ms-overflow-style: none;    /* IE, Edge 対応 */
        scrollbar-width: none;       /* Firefox 対応 */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.tile_fram::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}
.tile_row {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 1vh 0 1vh 0;
}
.right {
    justify-content: flex-start;
}
.left {
    justify-content: flex-end;
    position: relative;
    top: -17vh;
}
